body {
  font-family: monospace;
  background-image: url("/images/bg2.jpg");
  
}

.border-box {
  background: white;
  border-radius: 7px;
  margin-top: 20px;
  margin-left: 30px;
}

.flex {
  display: flex;
}

.line-height {
  line-height: 2.5;

}

.flex-space-between {
  justify-content: space-between;
}


#dropbtn {
  position: absolute;
  background-color: #020202;
  border-radius: 20px;
  height: 25px;
  color: white;
  padding: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin: 15px;
  left:30px;
  top:200px;
}

#savebutton {

  position: absolute;
  background-color: #020202;
  border-radius: 20px;
  height: 25px;
  color: white;
  padding: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  margin: 15px;
  left:300px;
  top:200px;

}


#toolContainer {
  width: 256px;
  margin-left: 30px;

}




.pencil {
  cursor: url("images/pencil.png") 0 30, auto;

}

.eraser {
  cursor: url("images/eraser.png") 15 15, auto;
}





button {
  cursor: pointer;
  height: 40px;
  background: #050505;
  border-radius: 20px;
  border: 45px;
  color: white;
  font-family: monospace;
  font-size: 13px;
  margin-left: 10px;
  
  
}


button:hover { 
  background-color: #050505;
}

#textContainer {
  margin-left: 40px;
  margin-bottom: 100px;


}

#transferContainer {
  margin-top: 100px;
  margin-left: 10px;
}

 




#textElementp {
  margin-top: 0px;
  margin-left: 10px;
}



/* transfer */
#btnContainer {
  margin: 0 30px;
 margin-bottom: 230px;
}

#toolContainer {
  width: 256px;
  /* margin: 0 30px; */
  margin-top: 170px;
  margin-bottom: 0px;
  margin-left: 30px;
}

/* .pokeball {
  animation: pokeball-spin infinite 5s linear;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
} */

@keyframes pokeball-spin {
  0%   {
    transform:rotate(0deg);
  }
  25%{
    transform:rotate(-75deg);
  }

  75%{
    transform:rotate(75deg);
  }

  100% {
    transform:rotate(0deg);
  }
}
